<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/grid.css}">
<title>Common Scents No Payment!</title>
<body>
<br>
<h2>You do not have a payment method!</h2>
<h3>(╯°□°）╯︵ ┻━┻)</h3>
<br>
<h3>Press the button below to go back to the payment page!</h3>
<h3>ヽ(✿ﾟ▽ﾟ)ノ</h3>
<div>
	<a class="btn btn-full" style="width: 80%; margin:0 auto; display:block;" th:href="@{/payment}">Go To Payment</a>
</div>
</body>
</html>